 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <img src="logo.png" alt="Logo " class="logo-img" style="width: 50px;">
            </a>
            <p>Mantén tus días organizados con nuestras agendas diseñadas con atención al detalle y estilo.
                Desde agendas semanales y mensuales hasta planificadores diarios, nuestras agendas
                están diseñadas para adaptarse a tu estilo de vida ocupado y ayudarte a alcanzar
                tus metas mientras te mantienes elegante y organizado.

            </p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Siguenos</h6>
            <div class="d-flex justify-content-start">

                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h6 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">NUESTROS SERVICIOS</h6>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Conocenos</a>
                <a class="text-white-50 mb-2" href="/service"><i class="fa fa-angle-right mr-2"></i>Diseños</a>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h6 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Enlaces útiles</h6>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>Conocenos</a>
                <a class="text-white-50 mb-2" href="/service"><i class="fa fa-angle-right mr-2"></i>Diseños</a>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h6 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h6>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Santo Domingo, ECUADOR</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+593 984523454</p>
            <p><i class="fa fa-envelope mr-2"></i>freestyles&#64;gmail.com</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Boletín informativo</h6>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;"
                        placeholder="Tu Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-3">Inscribirse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
    style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Copyright &copy; <a href="/home">freestyles</a>. All Rights Reserved.</p>
        </div>

    </div>
</div>
<!-- Footer End -->